body {
    background-color: aliceblue;
    font-family: 'monospace', sans-serif;
    background-image: url("img/bg1.jpg");
    min-height: 92vh;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header{
    position: relative;
    top: -15px;
}

.mainContent{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    border: 3px solid black;
    padding: 10px;
    background-color: aquamarine;
}